@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap");

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 80%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
}
.divider {
  background-color: #ffffff;
  height: 1px;
  margin: 15px 0;
}

@media screen and (max-width: 768px) {
  body {
    background-position: center;
    height: auto;
  }
  .glass-effect {
    padding: 20px;
  }
}
